@font-face {
    font-family: 'VT323';
    src: url('/assets/VT323-Regular.ttf') format('truetype');
}

html, body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.info {
    display: flex;
    gap: 10px;
}

p {
    color: #4AF262;
    font-family: 'VT323';
    font-size: 22px;
}

a {
    color: #4AF262;
    font-family: 'VT323';
    font-size: 22px;
    text-decoration: underline;
}

small {
    color: #4AF262;
    font-family: 'VT323';
    font-size: 16px;
}

hr {
    color: #4AF262;
}

textarea {
    color: #4AF262;
    background-color: black;
    font-size: 20px;
    font-family: 'VT323';
    border: none;
    padding: 5px;
}

input {
    color: #4AF262;
    background-color: black;
    font-size: 20px;
    font-family: 'VT323';
    border: none;
    padding: 5px;
}

input:focus, 
textarea:focus {
    outline: none;
}

label {
    color: #4AF262;
    font-family: 'VT323';
    font-size: 22px;
}

blockquote {
    color: #4AF262;
    font-family: 'VT323';
    font-size: 22px;
}

h3 {
    color: #4AF262;
    font-family: 'VT323';
    font-size: 30px;
}

button {
    display: flex;
    font-family: 'VT323';
    color: #4AF262;
    font-size: 22px;
    border: none;
    background-color: black;
    width: 200px;
    justify-content: flex-start;
    margin: 0;
    cursor: pointer;
}

button:hover {
    background-color: #4AF262;
    color: black;
}

.content {
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.titlebar {
    display: flex;
    flex-direction: row;
    background-color: rgb(47, 47, 47);
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: grab;
}

.titlebar-title {
    font-family: 'vt323';
    color: #4af262;
    font-size: 16px;
    flex-grow: 1;
}

.titlebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'vt323';
    color: rgb(47, 47, 47);
    font-size: 16px;
    background-color: #4AF262;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 0 0  250px;
    background-color: rgb(20, 20, 20);
    margin: 10px;
    border-radius: 10px;
    height: auto;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(20, 20, 20);
    margin: 10px;
    border-radius: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    background-color: rgb(20, 20, 20);
    margin: 10px;
    border-radius: 10px;
}

.window-content {
    margin: 10px;
    overflow: auto;
}

.blink {
    width: 10px;
    height: 10px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.line {
    display: flex;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#guestbooks___error-message {
    color: #4AF262;
    font-family: 'VT323';
    font-size: 22px;
}